.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    thead {
      //style.css de kayıtlı
      border-top: 2px solid var(--light-blue);
      border-bottom: 2px solid var(--light-blue);
      
    }
    //tr deki cursor:pointer dan başlıklar etkilenmesin diyee eklendi
    th {
      border: 1px solid #eee;
      cursor:default;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
    }

    tr {
      border-bottom: 1px solid #ccc;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
    .pending {
      color: orangered;
      font-weight: 500;
    }
    .delivered {
      color: green;
      font-weight: 500;
    }
  }
}