.slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background-color: var(--color-dark);
}
// slider a %100 sığacak ve şeffaf olup %50 solda olacak. "current" class eklendiğinde opacity 1 transform 0 olacak. transition sayesinde bu class geçişi soldan kayan bir görüntü oluşturacak
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  height: 100%;
}

// (class= slide -> class= current slide) olduğunda (opacity 0 -> 1) olacak 
.content {
  position: absolute;
  text-align: center;
  top: 23rem;
  left: 50%;
  opacity: 0;
  width: 50%;
  padding: 3rem;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  // keyframe lerle oluşturulan yukarı kayma efekti
  animation: slide-up 1s ease 0.5s;
  // animasyon son değeri koruyacaktır.
  animation-fill-mode: forwards;
  //   visibility: hidden;
  h2 {
    font-size: 4.5rem;
  }
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 17rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}

// content classın bir altındaki tüm elementler
.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

// slide ile birlikte soldan kayma görüntüsü oluşturuyorlar
.current {
  opacity: 1;
  transform: translateX(0);
}

//slider geldiğinde içerik de gelecek
.current .content {
  opacity: 1;
}
.arrow {
  border: 2px solid orangered;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  // y ekseninde ortalaması için top ve transform birlikte kullanıldı. top, arrow u %50 den sonra başlattı, transform, arrow un %50 sini yukarı aldı
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow:hover {
  background: #fff;
}

// sağdan 1.5 rem pay bırak
.next {
  right: 1.5rem;
  color: orangered;
}

// soldan 1.5 rem pay bırak
.prev {
  left: 1.5rem;
  color: orangered;
}

hr {
  height: 2px;
  background: #fff;
  width: 50%;
}